
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body >
  <div class="sidebar" style="background-color: #31373c;" >
  <nav class="navbar "style="background-color: #31373c;">
    <ul class="nav flex-column" style="background-color: #31373c;">
      <li class="nav-item text-light" *ngFor="let mainmenu of menus">
        <div *ngIf="mainmenu.parentMenuId===0" class="justify-content-end">
        <button class="btn" style="color:white;font-size: 16px;"(click)="toggleSubMenu(mainmenu)" [routerLink]="mainmenu.path">
          {{ mainmenu.menuName }}         
          <i *ngIf="hasSubmenus(mainmenu.menuId)==true" class="fa fa-chevron-right"  style="padding-right: 5px;font-size:15px;"></i>  
   </button>        
      </div>
        <div *ngIf="selectedMainMenuItem === mainmenu" style="padding-left: 8px;">
          <div *ngFor="let submenu of submenus">
            <button class="nav-link text-light" style="color:white;font-size: 16px;"[routerLink]="submenu.path">{{ submenu.menuName }}</button>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
</body>