.sidebar {
    height: 100vh; /* Set the height to 100% of the viewport height */
    color: white;
  }
  
  /* Style for the top of the sidebar (navbar) */
  .sidebar .navbar {
    color: white; /* Change the text color as needed */

  }